<ion-view >
  <ion-content overflow-scroll="true">

	<div id="deviceready" class="viewArea">
		<div class='headerMain'>
			<div class='title'>{{floor.name}}</div>
		</div>
		<div class="row">
			<div class='col col-50'>
				<ion-list class='exhibitionListInfo'>
				  <ion-item ng-show="showExhibition == {{exhibition.occurrence_id}}" ng-repeat="exhibition in exhibitions" type="item-text-wrap" href="#/tab/detail-exhibition/{{exhibition.occurrence_id}}">
					<div ng-if='exhibition.name' class="name">{{exhibition.name}}</div>
					<div ng-if='exhibition.thumb' ng-bind-html='exhibition.thumb'></div>
					<div ng-if='exhibition.dates' class="red date">{{exhibition.dates}}</div>
				  </ion-item>
				</ion-list>
			</div>
			<div class='col col-50' id='floorPlan'>
				here: {{floor.floor_plan_coor}}
				<div ng-bind-html="floor.floor_plan"></div>	
				
				<div ng-repeat="exhibition in exhibitions" ng-click="showExhibitionInfo({{exhibition.occurrence_id}});">
					{{exhibition.name}}
				</div>
			</div>
		</div>
	</div>	
  </ion-content>
	<ion-footer-bar>
		<div id="footer" class='menuToggle'>
			<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
		</div>
		<div class='menuBuildings'>
			<a ng-repeat="building in buildings" href="#/tab/museum/{{building.place_id}}" ng-class="floor.parent_id==building.place_id ? 'activeBuilding' : ''">
				{{building.name}}
			</a>
		</div>
	</ion-footer-bar>
</ion-view>
