<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view >
  <ion-content>

	<div id="deviceready" class="viewArea">
		<div class='contentMain'>
			<div class='upperImages'>
				<ion-scroll direction="x" class="artistScroller"><div ng-bind-html="exhibition.pics">
				</div></ion-scroll>
			</div>

			<div class='exLowerInfo'>
				<div class='exHeader'>
					<div class='exTitle'>{{exhibition.name}}<small ng-if='exhibition.curator'>, curated by {{exhibition.curator}}</small></div>
					<div class='red date'>{{exhibition.dates}}</div>
				</div>
				<ion-scroll direction="y" class='col1' ng-if='exhibition.statement || exhibition.description'>
						<div ng-bind-html="exhibition.description"></div>
						<p ng-if='exhibition.statement'>
							<br/><H5>Artist Statement</H5>
							<div ng-bind-html="exhibition.statement"></div>	
						</p>					
				</ion-scroll>
				<ion-scroll class='related col2'>
					<div class='unit' ng-if='exhibition.contributors'>
						<h5>Contributors</h5>
						<div ng-bind-html="exhibition.contributors"></div> 
					</div>
					<div class='unit' ng-if='exhibition.artworks'>
						<h5>Artworks</h5>
						<div ng-bind-html="exhibition.artworks"></div> 
					</div>
					<div class='unit' ng-if='exhibition.events'>
						<h5>Events</h5>
						<div ng-bind-html='exhibition.events'></div> 
					</div>	
					<div class='unit' ng-if='exhibition.exhibitions'>
						<h5>Exhibitions</h5>
						<div ng-bind-html='exhibition.exhibitions'></div> 
					</div>	
				</ion-scroll>
			</div>				
		</div>
	</div>	
  </ion-content>
  <ion-footer-bar>
  	<div id="footer" class='menuToggle'>
		<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
	</div>
  </ion-footer-bar> 
</ion-view>
