<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view >
  <ion-content>

	<div id="deviceready" class="viewArea">
		<div class='headerMain'>
			<div class='title'>{{artist.name}}</div>
			<div class='subTitle red'>{{artist.nationality}}, {{artist.vital_dates}}</div>
		</div>
		<div class='contentMain'>
			<div class='upperImages'>
				<ion-scroll direction="x" class="artistScroller"><div ng-bind-html="artist.pics">
				</div></ion-scroll>
            </div>

			<div class='artistLowerInfo'>
				<ion-scroll direction="y" class='col1' ng-if='artist.biography'>
					<h5>Biography</h5>
					<div ng-bind-html="artist.biography"></div>				
				</ion-scroll>
				<ion-scroll direction="y" class='related col2'>
					<div class='unit' ng-if='artist.artworks'>
						<h5>Artworks</h5>
						<div ng-bind-html="artist.artworks"></div> 
					</div>
					<div class='unit' ng-if='artist.exhibitions'>
						<h5>Exhibitions</h5>
						<div ng-bind-html='artist.exhibitions'></div> 
					</div>
					<div class='unit' ng-if='artist.events'>
						<h5>Events</h5>
						<div ng-bind-html='artist.events'></div> 
					</div>	
				</ion-scroll>
			</div>				
		</div>
	</div>	
  </ion-content>
  <ion-footer-bar>
  	<div id="footer" class='menuToggle'>
		<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
	</div>
  </ion-footer-bar> 
</ion-view>
