<ion-view on-swipe-right="$ionicGoBack()">
  <ion-content has-bouncing="false" overflow-scroll="false">
      <div class="spinner" ng-hide="hideSpinner">
          <ion-spinner icon="ios"></ion-spinner>
      </div>
      
	<div id="deviceready" class="viewArea">
		<div class='contentMain'>
			<div class='headerMain'>
				<div class='title'>{{artwork.name}}</div>
				<div class='subTitle red'>{{artwork.materials}}</div>
			</div>
		
			<div class='upperImages'>
				<ion-scroll direction="x" class="imageScroller">
					<div ng-bind-html="artwork.pics"></div>
				</ion-scroll>
			</div>
			<div class='artistLowerInfo'>
				<div class="row" ng-show="showArea == 'area1'">
					<ion-scroll direction="y" class='col detailScrollTall' has-bouncing="false" overflow-scroll="false">
						<div class='unit' ng-if='artwork.artist'>
							<h5>Artist</h5>
							<div ng-bind-html="artwork.artist"></div> 
						</div>	
						<div class='unit' ng-if='artwork.exhibitions'>
							<h5>Exhibitions</h5>
							<div ng-bind-html='artwork.exhibitions'></div> 
						</div>	
						<div class='unit' ng-if='artwork.contributors'>
							<h5>Contributors</h5>
							<div ng-bind-html="artwork.contributors"></div> 
						</div>
                        <div ng-bind-html="artwork.abstract"></div>
						<p ng-if='artwork.statement'>
							<br/><H5 ng-if='artwork.statement'>Artist Statement</H5>
							<div ng-bind-html="artwork.statement"></div>	
						</p>
                        <br/><br/><br/><br/>
					</ion-scroll>
				</div>
                <div ng-show="showArea == 'area5'" >
                    <ion-scroll class='col detailScroll' has-bouncing="false" overflow-scroll="false">
                        <div class="row responsive-md">
                            <div class="col">
                                <div class='unit' ng-show='commentSubmitted'>
                                    <h5 class="red">Thank you for contributing!</h5>
                                    Your comment has been submitted and will be posted after review.
                                </div>
                                <div class='unit commentForm' ng-hide='commentSubmitted'>
                                    <h5>Add Your Comment</h5>
                                    <form name="commentForm" id="commentForm" novalidate="" ng-submit="submitComment(commentForm)">
                                        <p ng-show="formError" class="red">
                                            <b>There are errors with your form: {{formErrorMessage}}</b>
                                        </p>
                                        <p>
                                            <input type="text" name="name" ng-model="comment.name" placeholder="Name"> <input type="email" ng-model="comment.email" name="email" placeholder="Email"> <button type="submit"><i class="icon icon ion-android-done"></i></button>
                                        </p>
                                        <textarea name="comment" ng-model="comment.comment" placeholder="Enter your comment..."></textarea>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="col">
                                <div class='unit comments' ng-if='artwork.comments'>
                                    <h5>Comments</h5>
                                    <div ng-bind-html="artwork.comments"></div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
			</div>				
		</div>
	</div>	
  </ion-content>
  <ion-footer-bar>
      <div class="footerIconBar">
          <i class="icon icon ion-information-circled" ng-class='{"red":showArea=="area1"}' ng-click="selectShowArea('area1')"></i>
          <i class="icon icon ion-chatbox" ng-class='{"red":showArea=="area5"}' ng-click="selectShowArea('area5')"></i>
      </div>
        <div id="footer" class='menuToggle'>
            <a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
        </div>
  </ion-footer-bar>
</ion-view>
