<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view >
  <ion-content>

	<div id="deviceready" class="viewArea">
		<div class='headerMain'>
			<div class='left'>
				<p id='artistname' class='title'>{{artist.name}}</p>
				<p class='vitals'>{{artist.nationality}}, {{artist.vital_dates}}</p>
			</div>

		</div>
		<div class='contentMain'>
			<div class='upperImages'>
				<ion-scroll direction="x" class="artistScroller"><div ng-bind-html="artist.pics">
				</div></ion-scroll>
            </div>

			<div class='lowerInfo'>
				<div class='left'>
					<h5>Biography</h5>
					<ion-scroll direction="y" >
						
							<div ng-bind-html="artist.biography"></div>	
						
					</ion-scroll>					
				</div>
				<div class='related right'>
					<div class='unit'>
						<h5>Related Artworks</h5>
						<div ng-bind-html="artist.artworks"></div> 
					</div>
					<div class='unit'>
						<h5>Related Exhibitions</h5>
						<div ng-bind-html='artist.exhibitions'></div> 
					</div>	
				</div>
			</div>				
		</div>
	</div>	
  </ion-content>
  <ion-footer-bar>
  	<div id="footer" class='menuToggle'>
		<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
	</div>
  </ion-footer-bar> 
</ion-view>
