<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view on-swipe-right="$ionicGoBack()">
  <ion-content has-bouncing="false" overflow-scroll="false">

	<div id="deviceready" class="viewArea">
		<div class='contentMain'>
			<div class='upperImages'>
				<ion-scroll direction="x" class="imageScroller"><div style="width:auto;" ng-bind-html="exhibition.pics">
				</div></ion-scroll>
			</div>
			<div class='lowerInfo'>
				<div class="row">
					<div class="col">
						<div class='exHeader'>
							<div class='exTitle'>{{exhibition.name}}<small ng-if='exhibition.curator'>, curated by {{exhibition.curator}}</small></div>
							<div class='red date'>{{exhibition.dates}}</div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="showArea == 'area1'">
					<ion-scroll class='col related detailScroll' has-bouncing="false" overflow-scroll="false">
						<div class='unit' ng-if='exhibition.contributors'>
							<h5>Artists</h5>
							<div ng-bind-html="exhibition.contributors"></div> 
						</div>
						<div class='unit' ng-if='exhibition.artworks'>
							<h5>Artworks</h5>
							<div ng-bind-html="exhibition.artworks"></div> 
						</div>	
						<div class='unit' ng-if='exhibition.exhibitions'>
							<h5>Exhibitions</h5>
							<div ng-bind-html='exhibition.exhibitions'></div> 
						</div>
                        <br/><br/><br/><br/>
					</ion-scroll>
                </div>
                <div class="row" ng-show="showArea == 'area2'" ng-if="exhibition.statement || exhibition.description">
					<ion-scroll direction="y" class="col detailScroll" has-bouncing="false" overflow-scroll="false">
                        <div ng-bind-html="exhibition.description"></div>
                        <p ng-if='exhibition.statement'>
                            <H5 ng-if='exhibition.statement'>Artist Statement</H5>
                            <div ng-bind-html="exhibition.statement"></div>	
                        </p>
                        <br/><br/><br/><br/>
					</ion-scroll>
                </div>
                <div ng-show="showArea == 'area3'" ng-if="exhibition.sound">
                    <ion-scroll class='col detailScroll' has-bouncing="false" overflow-scroll="false">
                        <h5>Audio</h5>
                        <div class='unit' ng-bind-html="exhibition.sound"></div>
                        <br/><br/><br/><br/>
                    </ion-scroll>
                </div>
                <div ng-show="showArea == 'area4'" ng-if="exhibition.floor_plan">
<ion-scroll class='col detailScroll' has-bouncing="false" overflow-scroll="false">
    <ion-slide-box class="floorPlanExhibitionDetailContainer" does-continue="true" auto-play="false" show-pager="true">
        <ion-slide ng-repeat="floorplanTag in floorplanTags">
                <div class="floorPlanExhibitionDetail"><span ng-bind-html="trustAsHtml(floorplanTag)"></span></div>
                <div style="text-align:center">{{floor_plan_titles[$index]}}</div>
        </ion-slide>
    </ion-slide-box>
    <br/><br/><br/><br/><br/><br/>
</ion-scroll>
                    
                    
                    <!--<ion-scroll class='col detailScroll' has-bouncing="false" overflow-scroll="false">
                        <div ng-repeat="floorplanTag in floorplanTags" class="floorPlanExhibitionDetail"><span ng-bind-html="trustAsHtml(floorplanTag)"></span></div>
                        <br/><br/><br/><br/>
                    </ion-scroll>-->
                </div>
                <div ng-show="showArea == 'area5'" >
                    <ion-scroll class='col detailScroll' has-bouncing="false" overflow-scroll="false">
                        <div class="row responsive-md">
                            <div class="col">
                                <div class='unit' ng-show='commentSubmitted'>
                                    <h5 class="red">Thank you for contributing!</h5>
                                    Your comment has been submitted and will be posted after review.
                                </div>
                                <div class='unit commentForm' ng-hide='commentSubmitted'>
                                    <h5>Add Your Comment</h5>
                                    <form name="commentForm" id="commentForm" novalidate="" ng-submit="submitComment(commentForm)">
                                        <p ng-show="formError" class="red">
                                            <b>There are errors with your form: {{formErrorMessage}}</b>
                                        </p>
                                        <p>
                                            <input type="text" name="name" ng-model="comment.name" placeholder="Name"> <input type="email" ng-model="comment.email" name="email" placeholder="Email"> <button type="submit"><i class="icon icon ion-android-done"></i></button>
                                        </p>
                                        <textarea name="comment" ng-model="comment.comment" placeholder="Enter your comment..."></textarea>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="col">
                                <div class='unit comments' ng-if='exhibition.comments'>
                                    <h5>Comments</h5>
                                    <div ng-bind-html="exhibition.comments"></div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
			</div>				
		</div>
	</div>	
  </ion-content>
  <ion-footer-bar>
      <div class="footerIconBar">
          <i class="icon icon ion-information-circled" ng-class='{"red":showArea=="area1"}' ng-click="selectShowArea('area1')"></i>
          <i class="icon icon ion-ios-paper" ng-class='{"red":showArea=="area2"}' ng-if="exhibition.statement || exhibition.description" ng-click="selectShowArea('area2')"></i>
          <i class="icon icon ion-android-volume-up" ng-class='{"red":showArea=="area3"}' ng-if="exhibition.sound" ng-click="selectShowArea('area3')"></i>
          <i class="icon icon ion-location" ng-class='{"red":showArea=="area4"}' ng-click="selectShowArea('area4')"></i>
          <i class="icon icon ion-chatbox" ng-class='{"red":showArea=="area5"}' ng-click="selectShowArea('area5')"></i>
      </div>
      <div id="footer" class='menuToggle'>
		<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
	  </div>
  </ion-footer-bar> 
</ion-view>
