<ion-view on-swipe-right="$ionicGoBack()">
  <ion-content has-bouncing="false" overflow-scroll="false">

	<div id="deviceready" class="viewArea">
		<div class='contentMain'>
			<div class='headerMain'>
				<div class='title'>{{artwork.name}}</div>
				<div class='subTitle red'>{{artwork.materials}}</div>
			</div>
		
			<div class='upperImages'>
				<ion-scroll direction="x" class="imageScroller">
					<div ng-bind-html="artwork.pics"></div>
				</ion-scroll>
			</div>
			<div class='artistLowerInfo'>
				<div class="row responsive-md">							
					<ion-scroll direction="y" class='col col-67 detailScrollTall' ng-if='artwork.statement || artwork.abstract' has-bouncing="false" overflow-scroll="false">
						<div ng-bind-html="artwork.abstract"></div>
						<p ng-if='exhibition.statement'>
							<br/><H5>Artist Statement</H5>
							<div ng-bind-html="artwork.statement"></div>	
						</p>
                        <br/><br/><br/><br/>
					</ion-scroll>				
					<ion-scroll class='col col-33 related detailScrollTall' has-bouncing="false" overflow-scroll="false">
						<div class='unit' ng-if='artwork.artist'>
							<h5>Artist</h5>
							<div ng-bind-html="artwork.artist"></div> 
						</div>	
						<div class='unit' ng-if='artwork.exhibitions'>
							<h5>Exhibitions</h5>
							<div ng-bind-html='artwork.exhibitions'></div> 
						</div>	
						<div class='unit' ng-if='artwork.contributors'>
							<h5>Contributors</h5>
							<div ng-bind-html="artwork.contributors"></div> 
						</div>
						<div class='unit' ng-if='artwork.events'>
							<h5>Events</h5>
							<div ng-bind-html='artwork.events'></div> 
						</div>
                        <br/><br/><br/><br/>
					</ion-scroll>
				</div>
			</div>				
		</div>
	</div>	
  </ion-content>
  <ion-footer-bar>
  	<div id="footer" class='menuToggle'>
		<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
	</div>
  </ion-footer-bar> 
</ion-view>
