<ion-view on-swipe-right="$ionicGoBack()">
  <ion-content has-bouncing="false" overflow-scroll="false">
      <div class="spinner" ng-hide="hideSpinner">
          <ion-spinner icon="ios"></ion-spinner>
      </div>
      
	<div id="deviceready" class="viewArea">
		<div class='headerMain'>
			<div class='title'>{{artist.name}}</div>
			<div class='subTitle red'>{{artist.nationality}}<span ng-show="(artist.nationality && artist.vital_dates)">, {{artist.vital_dates}}</div>
		</div>
		<div class='contentMain'>
			<div class='upperImages'>
				<ion-scroll direction="x" class="imageScroller"><div ng-bind-html="artist.pics">
				</div></ion-scroll>
            </div>

			<div class='artistLowerInfo'>
                 <div class="row" ng-show="showArea == 'area1'">
                    <ion-scroll direction="y" class='col related detailScrollTall' has-bouncing="false" overflow-scroll="false">
                        <!--<div class='unit'>
                         <h5>Audio</h5>
                         <div style='margin-right:10px;'><iframe width="100%" height="70" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/268334580&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe></div>
                         </div>-->
                        
                        <div class='unit' ng-if='artist.artworks'>
                            <h5>Artworks</h5>
                            <div ng-bind-html="artist.artworks"></div>
                        </div>
                        <div class='unit' ng-if='artist.exhibitions'>
                            <h5>Exhibitions</h5>
                            <div ng-bind-html='artist.exhibitions'></div>
                        </div>
                        <br/><br/><br/><br/>
                    </ion-scroll>
                </div>
                <div class="row" ng-show="showArea == 'area2'" ng-if="artist.biography">
                    <ion-scroll direction="y" class="col detailScrollTall" has-bouncing="false" overflow-scroll="false">
                        <h5>Biography</h5>
                        <div ng-bind-html="artist.biography"></div>
                        <br/><br/><br/><br/>
                    </ion-scroll>
                </div>
                <div ng-show="showArea == 'area3'" ng-if="artist.audio">
                    <ion-scroll class='col detailScroll' has-bouncing="false" overflow-scroll="false">
                        <h5>Audio</h5>
                        <div class='unit' ng-bind-html="trustAsHtml(artist.audio)"></div>
                        <br/><br/><br/><br/>
                    </ion-scroll>
                </div>
                <div ng-show="showArea == 'area6'" ng-if="artist.video">
                    <ion-scroll class='col detailScroll' has-bouncing="false" overflow-scroll="false">
                        <h5>Video</h5>
                        <div class='unit' ng-bind-html="trustAsHtml(artist.video)"></div>
                        <br/><br/><br/><br/>
                    </ion-scroll>
                </div>
                <div ng-show="showArea == 'area5'" >
                    <ion-scroll class='col detailScroll' has-bouncing="false" overflow-scroll="false">
                        <div class="row responsive-md">
                            <div class="col">
                                <div class='unit' ng-show='commentSubmitted'>
                                    <h5 class="red">Thank you for contributing!</h5>
                                    Your comment has been submitted and will be posted after review.
                                </div>
                                <div class='unit commentForm' ng-hide='commentSubmitted'>
                                    <h5>Add Your Comment</h5>
                                    <form name="commentForm" id="commentForm" novalidate="" ng-submit="submitComment(commentForm)">
                                        <p ng-show="formError" class="red">
                                            <b>There are errors with your form: {{formErrorMessage}}</b>
                                        </p>
                                        <p>
                                            <input type="text" name="name" ng-model="comment.name" placeholder="Name"> <input type="email" ng-model="comment.email" name="email" placeholder="Email"> <button type="submit"><i class="icon icon ion-android-done"></i></button>
                                        </p>
                                        <textarea name="comment" ng-model="comment.comment" placeholder="Enter your comment..."></textarea>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="col">
                                <div class='unit comments' ng-if='artist.comments'>
                                    <h5>Comments</h5>
                                    <div ng-bind-html="artist.comments"></div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
             </div>				
		</div>
	</div>	
  </ion-content>
  <ion-footer-bar>
      <div class="footerIconBar">
          <i class="icon icon ion-information-circled" ng-class='{"red":showArea=="area1"}' ng-click="selectShowArea('area1')"></i>
          <i class="icon icon ion-ios-paper" ng-class='{"red":showArea=="area2"}' ng-if="artist.biography" ng-click="selectShowArea('area2')"></i>
          <i class="icon icon ion-android-volume-up" ng-class='{"red":showArea=="area3"}' ng-if="artist.audio" ng-click="selectShowArea('area3')"></i>
          <i class="icon icon ion-ios-videocam" ng-class='{"red":showArea=="area6"}' ng-if="artist.video" ng-click="selectShowArea('area6')"></i>
          <i class="icon icon ion-chatbox" ng-class='{"red":showArea=="area5"}' ng-click="selectShowArea('area5')"></i>
      </div>
      <div id="footer" class='menuToggle'>
        <a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
      </div>
  </ion-footer-bar> 
</ion-view>
