<ion-view <!--view-title="Browse Mattress Factory Artists" -->>
  <ion-content overflow-scroll="true"  delegate-handle="artistListRow" on-scroll="getScrollPosition()">
	<div class="artistListContainer">
		<div ng-repeat="artists in artistsList" style="position:relative;" ng-class="highlightLetter==artists.letter ? 'activeLetter letterBar' : 'letterBar'" id="artist_letter_{{artists.letter}}">
			<p class="artistLetter">{{artists.letter}}</p>
			<div class="artistListScroller">
				<div class='artistList'>
					<div ng-repeat="artist in artists" class="artistListItem">
						<a href="#/tab/detail-artist/{{artist.entity_id}}">
							<div ng-bind-html='artist.thumb'></div>
							<h2>{{artist.name}}</h2>
						</a>
					</div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll
			on-infinite="loadNextArtistPage()"
			distance="100%" immediate-check="1">
		</ion-infinite-scroll>
	 </div>
  </ion-content>
  <ion-footer-bar>
  		<div id="footer" class='menuToggle'>
			<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
		</div>
	</ion-footer-bar>		
</ion-view>
