<ion-view> 
  <ion-content has-bouncing="false" overflow-scroll="false">
  	<div class="row">
  		<ion-scroll class="col col-50" has-bouncing="false" overflow-scroll="false">
			<div class="resultHeading">
				<form name="searchForm" id="searchForm" novalidate="" ng-submit="search(searchForm)">
					Search the Mattress Factory Archive<br/><input class="search-bar" type="text" name="searchterm" ng-model="search.searchterm" placeholder="enter search terms"><button type="submit"><i class='fa fa-search'></i></button>
				</form>
			</div>
			<ion-list class='resultListInfo'>
				  <ion-item ng-show="showResult == {{result.collection_id}}" ng-repeat="result in results" type="item-text-wrap">
					<a href="#/tab/detail-artwork/{{result.collection_id}}">
						<div ng-if='result.pic' ng-bind-html="result.pic"></div>
						<H2 ng-if='result.name' ng-bind-html="result.name"></H2>
					</a>
					<div ng-if='result.artist' ng-bind-html="result.artist"></div>
				  </ion-item>
			</ion-list>
		</ion-scroll>
		<ion-scroll class="col col-50 resultList" delegate-handle="resultList" on-scroll="getScrollPosition()" has-bouncing="false" overflow-scroll="false">
			<ion-list>
				<ion-item class='resultListItem' ng-class='{"active":highlightResult=={{result.collection_id}}}' ng-repeat="result in results" type="item-text-wrap" id="result_{{result.collection_id}}" ng-click="showResultInfo({{result.collection_id}}); highlightResultTitle({{result.collection_id}});">
					<h2><span class="redDot"><img src='img/redDot.png'></span>{{result.name}}</h2>
				</ion-item>
			</ion-list>
			<ion-infinite-scroll
				on-infinite="loadNextSearchPage()"
				immediate-check="false"
				distance="25%">
			</ion-infinite-scroll>
		</ion-scroll>
	</div>
  </ion-content>
  <ion-footer-bar>
	<div id="footer" class='menuToggle'>
		<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
	</div>
  </ion-footer-bar>		
</ion-view>
