<ion-view view-title="">
  <ion-content has-bouncing="false" overflow-scroll="false">
  	 <div id="deviceready" class="viewArea">
		<div id="content" class="aboutContent">
            <H2 ng-bind-html="trustAsHtml(pageContent.title ? pageContent.title : '')"></H2>
            <span ng-bind-html="trustAsHtml(pageContent.bodytext ? pageContent.bodytext : '')"></span>
        </div>
        <div id="beaconIndicator">{{beacon}}</div>
	</div>
  </ion-content>
  <ion-footer-bar>
  		<div id="footer" class='menuToggle'>
			<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
		</div>
	</ion-footer-bar>  
</ion-view>
