<ion-view view-title="Explore the Museum">
  <ion-content>
	<div class="row buildings">
		<div ng-repeat="building in buildings" class="col building" ng-class="(highlightBuilding==building.place_id ? ' activeBuilding' : '') + ($index==0 ? ' col-50' : ' col-25')" id="museum_building_{{building.place_id}}" ng-click="highlightTheBuilding({{building.place_id}});">
			<img src='img/{{building.image}}'>
			<br/>{{placeNames[building.place_id]}}
		</div>
	</div>
	<div ng-repeat="place in places" class="buildingFloorplans">
		<ion-scroll direction="x" class="buildingFloorplansScroll" ng-show="highlightBuilding == {{place.place_id}}">
			<div ng-bind-html="place.children"></div>
		</ion-scroll>
	</div>
			
	
	
	
	
  </ion-content>
  <ion-footer-bar>
  		<div id="footer" class='menuToggle'>
			<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
		</div>
	</ion-footer-bar>		
</ion-view>

