<ion-view view-title="Browse Mattress Factory Exhibitions">
  <ion-content>

    <div class="row">
        <div class="col col-50">
            <div class="artistThumb" ng-bind-html="exhibition.thumb"></div>
            <p style="text-align: center; width: 100%;">Exhibition Date</p>
        </div>


        <div class="col col-50">
            <ion-list on-drag="listScroll()" ng-controller="ExhibitionsCtrl" class='exhibitionList'>
                <ion-item class="item-remove-animate item-icon-right" 
                                collection-repeat="exhibition in exhibitions" 
                                ng-class="{'item-active': $index==value}"
                                type="item-text-wrap" 
                                href="#/tab/deatail-exhibition/{{exhibition.occurrence_id}}">
                    <h2>{{$index}} - {{exhibition.name}}</h2>

                    <div class="artistThumb" ng-bind-html="exhibition.thumb"></div>
                    <p>{{exhibition.dates}}</p>
                </ion-item>
            </ion-list>
        </div>
    </div>

	<ion-infinite-scroll
		on-infinite="loadNextExhibitionPage()" 
		distance="50%">
	</ion-infinite-scroll>

  </ion-content>
  <ion-footer-bar>
  		<div id="footer" class='menuToggle'>
			<a menu-toggle="left"><img src='img/MF_logo.jpg'></a>
		</div>
	</ion-footer-bar>		
</ion-view>
