
/** ionic overrides **/
.scroll{height: 100%; background-color: #000; padding: 0; margin: 0; border: 0px; } /* forces ionic to fill screen */
.bar-black { background-color: #000; padding: 0; margin: 0; border: 0px; }
ion-header-bar.back-botton{ display:none; }

/** MF styles **/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaBoldItalic';
    src: url('fonts/proximanova-boldit-webfont.eot');
    src: url('fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-boldit-webfont.woff') format('woff'),
         url('fonts/proximanova-boldit-webfont.ttf') format('truetype'),
         url('fonts/proximanova-boldit-webfont.svg#ProximaNovaBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/proximanova-reg-webfont.eot');
    src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-reg-webfont.woff') format('woff'),
         url('fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('fonts/proximanova-reg-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000;
	color:#ffffff;
    background-attachment:fixed;
    font-family:'ProximaNova', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    margin:0px;
    padding:0px 0px 0px 0px;
    text-shadow:none !important;
}

a{
	color:#FFFFFF;
	text-decoration:none;
}
/* Landscape layout (default) */
.viewArea {
   background-color:#000;
	width:100%;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background-color:#000 !important;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#000000;
    font-weight:bold;
    font-size:16px;
    margin:0px 30px;
    margin-bottom:5px;
    padding:5px 3px 8px 3px;
    background-color:#ffffff;
    text-decoration:none;
    text-align:left;
    float:left;
    width:40%;
    height:40px;
}
.event img {
	height:40px;
	width:auto;
	padding-right:20px;
}
.event span {
	display:inline-block;
  	vertical-align: top;
  	padding-top: 15px;
}	
.event a {
	text-decoration:none;
}
a:-webkit-any-link {
	text-decoration:none;
}
.event.listening {
    background-color:#333333;
    display:none;
}
.event.received {
    background-color:#000000;
    display:none;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* new styles */

h1 {
	color:#fff;
	text-transform:capitalize;
	font-size:150px;
	text-align:left;
	font-family:proximanovabold;
	margin-bottom:20px;
	margin-top:20px;
}
h2 {
	font-size:40px;
	color: red;
	text-transform:capitalize;
	font-weight:normal;
	text-align:left;
	margin-bottom:50px;
	font-family:proximanovabold;
	margin-top:30px;
	text-shadow:none;
}
h3 {
	color:#ffffff;
	font-size:28px;
	font-family:proximanovabold;
	margin-top:0px;
	margin-bottom:10px;
}
h5 {
	color:#fff;
	font-family:proximanova;
	font-size:20px;
	margin-bottom:5px;
	margin-top:0px;
	text-transform:uppercase;
}
p {
	color:#ffffff;
	font-size:14px;
	font-family:proximanova;
}
.subheader {
	margin-top:0px;
	padding-top:0px;
	font-size:24px;
	font-family:proximanovabold;
	color:red;
	text-shadow:none !important;
}
.right {
	float:right;
}	
.left {
	float:left;
}
.bar .title {
	font-weight:bold;
}
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	background-color:#000000 !important;
}
.scroll-content {
	background-color:#000;
}
/* Footer */
.bar.bar-footer {
	background-image:none;
}
.bar-footer {
	background-color:#000;
	height:50px;
}
.menuToggle {
	width:75px;
	height:45px;
	position:fixed;
	bottom:0px;
	left:10px;
}
.menuToggle img {
	width:100%;
	height:auto;
}
.menuBuildings{
	text-align:center;
	padding-top:15px;
	width:100%;
}
.menuBuildings a{
	padding-left:25px;
	color:#FFFFFF;
	font-size:14px;
	font-family:proximanova;
	text-transform:uppercase;
	opacity:.5;
}
.menuBuildings a.activeBuilding{
	opacity:1;
}
.footerIconBar{
    width:100%;
    text-align:right;
    padding-right:20px;
}
.footerIconBar i{
    margin-left:10px;
    right:5px;
    font-size:35px;
}
/* Menu Panel */
.menu {
	border-top:20px solid #000;
	background-color:#333;
}
.menu .item {
	background-color:#000;
	opacity:.95;
	color:#fff;
	font-family:proximanova;
	font-size:18px;
}
.menu .item i{
	font-size:24px;
	padding-right:15px;
}
.menu .item-complex .item-content, .menu .item-radio .item-content{
	background-color:#000;
	border-width:0px;
}
.item .item-content.activated{
	background-color:#000 !important;
}
/*  front page */
.frontText{
    padding-left:5px;
}
.frontText H1{
    margin-top:20px;
    margin-bottom:70px;
}
.frontText H2{
    padding-left:10px;
}
@media (max-device-width : 786px) {
	.frontText H1{
        margin-top:0px;
        font-size:135px;
    }
    .frontText H2{
        font-size:36px;
    }
}
/* Artist list*/
.artistListContainer{
	padding-top:240px;
}
.letterBar{
	opacity:.5;
	margin-left:10%;
	min-width:90%;
}
.artistListScroller {
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;
}
.letterBar.activeLetter {
	opacity:1;
	margin-left:0px;
	/*position:fixed !important;
	top:180px;
	left:0px;
	z-index:10;
	background-color:#000;*/
}
.artistList {
	width: -webkit-max-content;
	width: max-content;
	height: 180px;
	overflow:hidden;
}
.activeLetter .artistList {
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
	min-width:100%;
}
.artistList{
	padding-left:100px;
}
.artistLetter{
	font-size:60px;
	font-family:proximanovabold;
	position:absolute;
	height:100%;
	width:200px;
	padding-left:40px;
	padding-top:80px;
	text-transform:capitalize;
	background: linear-gradient(to right, black, transparent);
	z-index:10;
}
.artistListItem {
	float:left;
	width:auto;
}
.artistListItem{
	padding:20px 10px 20px 10px;
	text-align:center;
}
.artistListItem img{
	height:120px;
	width:auto;
}
.artistListItem h2 {
	font-family:proximanova;
	text-align:center;
	font-size:13px;
	margin-top:0px;
	padding-top:5px;
	line-height:1em;
	color:#FFF;
	text-transform:uppercase;
}
.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.letter {
	width:20px;
	display:inline-block;
	float:left;
	height:140px;
	font-size:30px;
	font-weight:bold;
	padding-top:70px;
}
/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
@media only screen and (orientation : portrait) {
	.artistListContainer{
		padding-bottom:360px;
	}
}
/* Museum list*/
.buildingContainer{
	height:calc(100vh - 300px);
	border-bottom:2px solid #FFF;
	margin-bottom:10px;
    margin-top:10px;
}
.buildingContainer .slider-pager .slider-pager-page{
    color:#fff;
}
.building{
	text-align:center;
	height:calc(100vh - 300px);
	font-size:18px;
	color: #FFFFFF;
	text-transform:uppercase;
	font-weight:normal;
	font-family:proximanova;
	overflow:hidden;
	opacity:.5;
	text-shadow: 0 0 1px white;
   	color: transparent;
}
.building img{
	-webkit-filter: blur(.7px);
	filter: blur(.7px);
	height:300px;
	width:auto;
    margin-bottom:5px;
	margin-top:calc((100vh - 640px) / 2);
}
.building.activeBuilding{
	opacity:1;
	color:#fff;
	text-shadow:none;
}
.building.activeBuilding img{
	-webkit-filter: blur(0px);
	filter: blur(0px);
}
.buildingFloorplans{
	text-align:center;
}
.buildingFloorplansScroll{
	white-space:nowrap;
}
.buildingFloorplan{
	display:inline-block;
	padding:0px 10px 0px 10px;
}
.buildingFloorplan img{
	height:150px;
	width:auto;
	-webkit-filter: invert(1);
   filter: invert(1);
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
@media only screen and (orientation : portrait) {
	/*.buildingContainer{
		height:700px;
		margin-top:0px;
	}*/
	.building{
		height:auto;
		margin-bottom:20px;
	}
    .building img{
        height:400px;
        margin-top:calc((100vh - 740px) / 2);
    }

}
/* Museum list*/
/*.museumListContainer{
	padding-top:100px;
}
.buildingBar{
	opacity:.5;
	margin-left:100px;
}
.museumListScroller {
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;
}
.buildingBar.activeBuilding {
	opacity:1;
	margin-left:0px;
}
.museumList {
	width: -webkit-max-content;
	width: max-content;
	height: 300px;
	overflow:hidden;
}
.activeBuilding .museumList {
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
}
.museumList{
	padding-left:300px;
}
.museumBuilding{
	font-size:30px;
	font-family:proximanovabold;
	position:absolute;
	height:100%;
	width:200px;
	padding-left:40px;
	padding-top:80px;
	text-transform:capitalize;
	background: linear-gradient(to right, black, transparent);
	z-index:10;
}
.museumListItem {
	float:left;
	width:auto;
	padding:20px 10px 20px 10px;
	text-align:center;
}
.museumListItem img{
	height:240px;
	width:auto;
}
.museumListItem {
	font-family:proximanova;
	text-align:center;
	font-size:13px;
	margin-top:0px;
	padding-top:5px;
	line-height:1em;
	color:#FFF;
	text-transform:uppercase;
}
.building {
	width:20px;
	display:inline-block;
	float:left;
	height:140px;
	font-size:30px;
	font-weight:bold;
	padding-top:70px;
}
*/
/* museum detail */
#floorPlan{
	text-align:center;
	color:#fff;
	margin-top:10px;
}
#floorPlan span{
	display:inline-block;
	position:relative;
}
#floorPlan span.fpOrientationHorizontal{
	width:90%;
}
#floorPlan span.fpOrientationVertical{
	width:60%;
}
#floorPlan span.fpOrientationSkinnyVertical{
	width:40%;
}
#floorPlan span .floorArea{
	background-color:rgba(255,0,0,.7);
	position:absolute;
	z-index:10;
	display:none;
	text-align:center;
	color:#fff;
	font-size:10px;
	line-height:2em;
	overflow:visible;
	white-space: nowrap;
	/*top:40px;
	left:50px;
	width:40px;
	height:40px;*/
}
#floorPlan span img{
	height:auto;
	width:100%;
	position:relative;
	-webkit-filter: invert(1);
   filter: invert(1);
}
/*
#floorPlan span img{
	object-fit:contain;
	max-height: 500px;
}
*/
.floorExhibitionList{
	height:calc(100vh - 94px); /* 50 bar-footer height + 44 .bar (header) */
}
.floorExhibitionList div.list{
	padding-bottom:400px !important;
	padding-top:200px !important;
}
.floorExhibitionList .item {
	border-width:0px;
    background: #000;
   	opacity:.3;
   	height:150px;
   	overflow:hidden;
   	margin:0px !important;
   	border:0px;
}
.floorExhibitionList .item h2 {
    color: #fff;
    font-family:proximanova;
    font-size:20px;
    padding-left:5px;
    text-shadow: 0 0 1px white;
   	color: transparent;
}
.floorExhibitionList .active {
    opacity:1 !important;
}
.floorExhibitionList .active + ion-item{
	opacity:.7 !important;
}
.floorExhibitionList .active h2 {
	color: #fff;
	text-shadow:none;
    font-size: 1.5em;
}
.floorExhibitionList .item .exhibitImage{
	float:left;
	margin-right:20px;
	height:130px;
	width:130px;
	overflow:hidden;
}
.floorExhibitionList .item .exhibitImage img{
	height:130px;
	width:auto;
	-webkit-filter: blur(.7px);
	filter: blur(.7px);
}
.floorExhibitionList .item.active .exhibitImage img{
	-webkit-filter: blur(0px);
	filter: blur(0px);
}
.exhibitName{
	padding-top:1em;
	max-height:3.5em;
	overflow:hidden;
}
.floorExhibitionList .item.active .exhibitName{
	padding-top:.5em;
	max-height:3em;
}
.exhibitLink{
	font-size:12px;
	text-transform:uppercase;
	font-family:proximanova;
	padding-top:10px;
}
.floorExhibitionListInfoContainer{
	height:250px;
	margin-bottom:20px;
}
.floorExhibitionListInfo{
	text-align:center;
}
.floorExhibitionListInfo img{
	height:200px;
	width:auto;
}
.floorExhibitionListInfo .name{
	color: #fff;
    font-family:proximanova;
    font-size:20px;
}
.floorExhibitionListInfo .date{
	padding-top:10px;
	padding-bottom:10px;
}
.floorExhibitionListInfo .item, .floorExhibitionListInfo .item-complex{
	border:0px;
	background-color:#000 !important;
	background:none;
}
.floorTitle{
	font-size: 35px;
	font-family: "ProximaNovaBold";
	line-height:1em;
	position:absolute;
	left:20px;
	top:0px;
    z-index:10;
}
.floorSubTitle{
	font-family: "ProximaNova";
}
/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
@media only screen and (orientation : portrait) {
	/*.floorExhibitionList{
		height:900px;
	}*/
	.floorTitle{
		font-size: 25px;
	}
	.floorExhibitionList .active h2, .floorExhibitionList .item h2, .floorExhibitionList .item .date {
		font-size:14px;
	}
	.floorExhibitionList .item.active .exhibitName, .floorExhibitionList .item .exhibitName{
		padding-top:2em;
	}
}








/*
OLD STYLES FOR LISTING EXHIBITS ON MUSEUM TAB
.museumListContainer{
	padding-top:180px;
}
.floorBar{
	opacity:.5;
	margin-left:100px;
}
.museumListScroller {
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;
	height:200px;
}
.floorBar.activeFloor {
	opacity:1;
	margin-left:0px;
}
.museumList {
	width: -webkit-max-content;
	width: max-content;
	height: 200px;
	overflow:hidden;
}
.activeFloor .museumList {
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
}
.museumList{
	padding-left:100px;
}
.museumFloor{
	font-size:30px;
	font-family:proximanovabold;
	position:absolute;
	height:100%;
	width:200px;
	padding-left:40px;
	padding-top:80px;
	text-transform:capitalize;
	background: linear-gradient(to right, black, transparent);
	z-index:10;
}
.museumListItem {
	float:left;
	width:auto;
}
.museumListItem{
	padding:20px 10px 20px 10px;
	text-align:center;
}
.museumListItem img{
	height:120px;
	width:auto;
}
.museumListItem h2 {
	font-family:proximanova;
	text-align:center;
	font-size:13px;
	margin-top:0px;
	padding-top:5px;
	line-height:1em;
	color:#FFF;
	text-transform:uppercase;
}
.floor {
	width:20px;
	display:inline-block;
	float:left;
	height:140px;
	font-size:30px;
	font-weight:bold;
	padding-top:70px;
}
#floorPlan{
	text-align:center;
	color:#fff;	
}
#floorPlan img{
	position:relative;
	height:600px;
	width:auto;
}
/*
/* Artist Detail*/

.headerMain .right {
	padding-right:15px;
}
.date {
	font-family:proximanova;
	font-size:18px;
}
.related p {
	margin-bottom:5px;
	margin-top:0px;
	font-size:16px;
}
.years {
	padding-left:50px;
}
.years p {
	display:inline-block;
	width:33%;
	margin-bottom:0px;
}
p.artist {
	font-family:proximanova;
	font-size: 25px;
	margin-bottom:5px;
	text-transform:uppercase;
	margin-top:0px;
}
p.artist small{
	text-transform: none;
	font-size:14px;
}
p.title {
	font-family:proximanovabold;
	font-size: 25px;
	margin-top:0px;
	margin-bottom:0px;
	text-transform:uppercase;
}
p.vitals {
	text-transform:uppercase;
	font-family:proximanovabold;
	margin-top:10px;
}
p.red {
	margin-top:0px;
	color:red;
	font-family:proximanova;
}
.red {
	color:red;
}
.artistBio {
	height:500px;
}
.pointer {
	color:#fff;
	font-size:30px;
	font-family:proximanovabold;
	padding-top:150px;
	display:inline;
	
}
.pointer.left {
	width:10px;
	height:20px;
}
.pointer.right {
  float: none;
  width: 10px;
  height:20px;
  left: 1000px;
  position: absolute;
}
.scroller {
	width:1500px;
}

/* Exhibition List */

.exhibitionList{
    height:calc(100vh - 94px); /* 50 bar-footer height + 44 .bar (header) */
}
.exhibitionList div.list{
	padding-bottom:300px !important;
	padding-top:275px !important;
}
.exhibitionList .item {
	border-width:0px;
    background: #000;
   	opacity:.3;
   	height:55px;
   	overflow:hidden;
   	margin:0px !important;
   	border:0px;
}
.exhibitionList .item h2 {
    color: #fff;
    font-family:proximanova;
    font-size:20px;
    padding-left:5px;
    text-shadow: 0 0 1px white;
   	color: transparent;
}
.exhibitionList .item h2 .redDot{
	display:none;
}
.exhibitionList .active {
    opacity:1 !important;
}
.exhibitionList .active + ion-item{
	opacity:.7 !important;
}
.exhibitionList .active h2 {
	color: #fff;
	text-shadow:none;
    font-size: 2em;
}
.exhibitionList .active h2 .redDot{
	display:inline;
	position:absolute;
	left:0px;
	top:12px;
	z-index:10;
}
.exhibitionList .item .active h2 .redDot img{
	width:10px;
	height:auto;
}
.exhibitionListInfo img{
	max-width:100%;
	height:auto;
}
.exhibitionListInfo .name{
	color: #fff;
    font-family:proximanova;
    font-size:20px;
}
.exhibitionListInfo .date{
	padding-top:10px;
	padding-bottom:10px;
}
.exhibitionListInfo .item, .exhibitionListInfo .item-complex{
	border:0px;
	background-color:#000 !important;
	background:none;
}
.exhibitionDecade{
	font-size: 40px;
	font-family: "ProximaNovaBold";
	line-height:1em;
	padding-left:25px;
	position:absolute;
	top:0px;
	z-index:2;
}
/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
@media only screen and (max-device-width : 767px) and (orientation : landscape) {
	.exhibitionListInfo{
        text-align:center;
    }
    .exhibitionListInfo img{
        max-width:70%;
        margin-top:20px;
    }
}

/* exhibition detail */
.floorPlanExhibitionDetail{
	text-align:center;
	color:#fff;
    margin-bottom:10px;
}
.floorPlanExhibitionDetail span{
	display:inline-block;
	position:relative;
}
.floorPlanExhibitionDetail span.fpOrientationHorizontal{
	width:90%;
}
.floorPlanExhibitionDetail span.fpOrientationVertical{
	width:60%;
}
.floorPlanExhibitionDetail span.fpOrientationSkinnyVertical{
	width:40%;
}
.floorPlanExhibitionDetail span .floorArea{
	background-color:rgba(255,0,0,.7);
	position:absolute;
	z-index:10;
	text-align:center;
	color:#fff;
	font-size:10px;
	line-height:2em;
	overflow:visible;
	white-space: nowrap;
	/*top:40px;
	left:50px;
	width:40px;
	height:40px;*/
}
.floorPlanExhibitionDetail span img{
	height:300px;
	width:auto;
	position:relative;
	-webkit-filter: invert(1);
   filter: invert(1);
}

/* Search Results */
.resultLeft{
    height:100vh;
}
.resultList{
	height:100vh;
}
.resultList div.list{
	padding-bottom:300px !important;
	padding-top:275px !important;
}
.resultList .item {
	border-width:0px;
    background: #000;
   	opacity:.3;
   	height:55px;
   	overflow:hidden;
   	margin:0px !important;
   	border:0px;
}

.resultList .item h2 {
    color: #fff;
    font-family:proximanova;
    font-size:20px;
    padding-left:5px;
    text-shadow: 0 0 1px white;
   	color: transparent;
}
.resultList .item h2 .redDot{
	display:none;
}
.resultList .active {
    opacity:1 !important;
    height:auto;
}
.resultList .active + ion-item{
	opacity:.7 !important;
}
.resultList .active h2 {
	color: #fff;
	text-shadow:none;
    font-size: 2em;
}
.resultList .active h2 .redDot{
	display:inline;
	position:absolute;
	left:0px;
	top:12px;
	z-index:10;
}
.resultList .item .active h2 .redDot img{
	width:10px;
	height:auto;
}
.resultListInfo img{
	max-width:100%;
	height:auto;
}
.resultListInfo .date{
	padding-top:10px;
	padding-bottom:10px;
}
.resultListInfo .item, .resultListInfo .item-complex{
	border:0px;
	background-color:#000 !important;
	background:none;
}
.resultHeading{
	font-size: 40px;
	font-family: proximanova;
	line-height:1em;
	padding-left:20px;
}
.resultHeading input{
	display:inline;
	width:70%;
	background-color:rgba(255,255,255,.1);
	color:#FFF;
	font-family: proximanova;
	padding:5px;
}
.resultHeading button{
	background-color:#000;
	display:inline;
	border:0px;
	color:#FFF;
	font-size:30px;
}

@media only screen and (max-device-width : 767px) and (orientation : portrait) {
   .resultHeading{
        font-size: 30px;
    }
    .resultHeading input{
        width:60%;
    }
 
}











/* common detail styles */
.headerMain {
	color:#ffffff;
	padding:0px 0px 10px 20px;
	text-transform: none;
}
.headerMain .title {
	color:#ffffff;
	font-size: 30px;
	line-height: 1em;
	font-family: "ProximaNova";
	text-transform: uppercase;
}
.headerMain .subTitle {
	font-family:proximanova;
	font-size:15px;
	line-height: 1.2em;
	text-transform: uppercase;
}
.unit {
	padding-bottom:30px;
}
.contentMain {
	clear:both;
}
.imageScroller {
	-webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;	
}
.contentMain .upperImages {
	clear:both;
	overflow:scroll;
	overflow-x:scroll;
	width:100%;
	height:290px;
}
.contentMain .upperImages div{
	width:100%;
	height:290px;
}
.upperImages img{
	/* width:500px; */
	height:100%;
	width:auto;
}
.comments p small{
    padding-left:30px;
    display:block;
    margin-bottom:10px;
}
.commentForm input{
	display:inline;
	width:120px;
	background-color:rgba(255,255,255,.1);
	color:#FFF;
	font-family: proximanova;
	padding:5px;
    margin-right:10px;
    margin-bottom:10px;
}
.commentForm textarea{
	width:75%;
    height:75px;
	background-color:rgba(255,255,255,.1);
	color:#FFF;
	font-family: proximanova;
	padding:5px;
}
.commentForm button{
	background-color:#000;
	display:inline;
	border:0px;
	color:#FFF;
	font-size:30px;
}
.detailScroll{
    height:calc(100vh - 494px); /* 290 upperImages height + 110 exHeader + 50 bar-footer height + 44 .bar (header) )*/
    padding-right:10px;
    padding-left:10px;
}
.detailScrollTall{ /* artist and artwork pages where title is on top of images */
	height:calc(100vh - 470px); /* 290 (upperImages height + 60 headerMain + 50 bar-footer height + 44 .bar (header) )*/
	padding-right:10px;
	padding-left:10px;
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/*
    .detailScroll{
		max-height:450px;
	}
	.detailScrollTall{
		max-height:520px;
	}
     */
}
/* phone (portrait) ----------- */
@media only screen and (max-device-width : 767px) and (orientation : portrait) {
	/*
    .detailScroll{
		max-height:225px
	}
	.detailScrollTall{
		max-height:260px;
	}
     */
}
/* phone (landscape) ----------- */
@media only screen and (max-device-width : 767px) and (orientation : landscape) {
	/*.detailScroll{
		height:225px;
	}
	.detailScrollTall{
		height:220px;
	}*/
	.contentMain .upperImages {
		height:200px;
	}	
	.contentMain .upperImages div{
		height:200px;
	}
    .detailScroll{
        height:calc(100vh - 404px); /* 200 upperImages height + 110 exHeader + 50 bar-footer height + 44 .bar (header) )*/
        padding-right:10px;
        padding-left:10px;
    }
    .detailScrollTall{ /* artist and artwork pages where title is on top of images */
        height:calc(100vh - 380px); /* 200 (upperImages height + 60 headerMain + 50 bar-footer height + 44 .bar (header) )*/
    }
}
.col1{
	float:left;
	width:65%;
	margin-right:5%;
	height:190px;
}
.col2{
	float:left;
	width:30%;
	height:190px;
}
.related a{
	font-family: "ProximaNovaBold";
	font-size:16px;
}
.related p, .related div{
	font-size:16px;
}

.item-complex .item-content{
	background-color:#000;
	color:#ffffff;
	padding:20px;
}
/* Exhibition Detail */
.exHeader{
	padding-top:20px;
    padding-bottom:20px;
	padding-left:5 px;
    line-height:30px;
    margin-left:0px;
}
.exTitle {
    font-size: 30px;
    margin: 0px;
    padding:0px;
	font-family: "ProximaNova";
    text-transform: none;
}
.exTitle small {
    font-size: 18px;
}
.lowerInfo{
    padding-left:10px;
}
/* Artist Detail */
.artistLowerInfo{
	padding-top:20px;
	padding-left:10px;
}

/* on view */
.onViewSlide{
	width:100%;
	height:700px;
	overflow:hidden;
	position:relative;
}
.onViewSlide img{
	width:100%;
	height:auto;
}
.onViewSlide .exhibitionInfo{
	position:absolute;
	bottom:100px;
	left:0px;
	z-index:10;
	width:100%;
}
.onViewSlide .exhibitionInfo H1{
	background-color:red;
	color:#FFF;
	padding:10px 50px 10px 20px;
	font-size:22px;
	font-weight:normal;
	margin:0px;
	display:inline-block;
	float:left;
	clear:left;
	font-family: proximanova;
}
.onViewSlide .exhibitionInfo H2, .onViewSlide .exhibitionInfo H3{
	background-color:rgba(0,0,0,.8);
	color:#FFF;
	padding:5px 20px 5px 20px;
	margin:0px;
	float:left;
	clear:left;
	font-family:proximanova;
	text-transform:uppercase;
	font-size:30px;
	max-width:100%;
}
.onViewSlide .exhibitionInfo H3{
	text-transform:none;
	font-size:16px;
	font-weight:normal;
	font-family:proximanova;
	padding-bottom:10px;
}
/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
@media only screen and (orientation : portrait) {
	.onViewSlide{
		margin-top:190px;
	}
	.onViewSlide .exhibitionInfo{
		bottom:200px;
	}
	/*.onViewSlide{
		height:900px;
	}
	.onViewSlide img{
		height:900px;
		width:auto;
		position:relative;
		left:-30%;
	}*/
}
/* phone (portrait) ----------- */
@media only screen and (max-device-width : 767px) and (orientation : portrait) {
	.onViewSlide .exhibitionInfo{
		bottom:50px;
	}
}
/* phone (landscape) ----------- */
@media only screen and (max-device-width : 767px) and (orientation : landscape) {
	.onViewSlide .exhibitionInfo{
		top:250px;
	}
}









/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
@media only screen and (orientation : portrait) {
/* Styles */
}
